.certs-heading {
  font-size: 36px;
  margin-top: 40px;
  text-align: center;
  text-decoration: underline;
}

.certs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 28px;
}

.certs-container li {
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.certs-container li:hover {
  transform: translateY(-3px);
}

.certs-container li:hover:first-of-type {
  transform: translateY(0px);
}

.one {
  opacity: 0.1;
  transform: translateX(50%);
}

.two {
  opacity: 0.1;
  transform: translateX(-50%);
}

.three {
  opacity: 0.1;
  transform: translateX(50%);
}

.four {
  opacity: 0.1;
  transform: translateX(-50%);
}

/* .show {
  opacity: 1;
  transform: translateX(0);
} */

.mr-head-certs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 38px;
}

.certs-container a {
  color: black;
  text-decoration: none;
}

.certs-container a:hover {
  text-decoration: underline;
  background-color: rgb(198, 198, 198);
  transform: scale(1.5);
}
