@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --modal-duration: 1s;
  --primary-color: #24253a;
  --primary-color1: #555774;
  --secondary-color: #6c6e5d;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Arial';
  margin: 0;
  background: linear-gradient(
    90deg,
    rgb(184, 184, 184),
    rgb(238, 238, 238),
    rgb(184, 184, 184)
  );
  transition: transform 0.6s ease;
  height: 100vh;
  overflow: hidden;
}

header {
  background: linear-gradient(
    to bottom right,
    var(--primary-color),
    var(--primary-color1)
  );
  color: #fff;
  padding: 10px 0;
  text-align: center;
  box-shadow: 2px 2px rgba(34, 34, 34, 0.2);
}

nav {
  background: linear-gradient(
    to bottom right,
    var(--primary-color),
    var(--primary-color1)
  );
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);
  box-shadow: 2px 2px rgba(34, 34, 34, 0.2);
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  padding: 20px;
}

nav ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

h2 {
  text-decoration: underline;
}

.show-nav {
  transform: translateX(200px);
}

.toggle {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 31px;
  left: 20px;
  height: 45px;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.toggle:hover {
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.profile-pic-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.profile-pic {
  height: 165px;
  width: 130px;
  border-radius: 50%;
}

.mr-icon {
  top: 35px;
  left: 25px;
  border-radius: 0 25px 0 25px;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  transform: translate(-100px, -100px);
  animation: rotateIcon 1s infinite alternate;
}

.gitcat {
  position: relative;
  height: 30px;
  width: 30px;
  top: 25px;
  left: 40px;
  transition: transform 0.2s;
}

.gitcat:hover {
  transform: scale(0.95);
}

.linkedin {
  position: relative;
  height: 30px;
  width: 30px;
  top: 25px;
  left: 80px;
  transition: transform 0.2s;
}

.linkedin:hover {
  transform: scale(0.95);
}

.linkedin:hover {
}

@keyframes rotateIcon {
  0% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

.certs-heading {
  font-size: 36px;
  margin-top: 40px;
  text-align: center;
  text-decoration: underline;
}

.certs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 28px;
}

.one {
  opacity: 0;
  transform: translateX(-600%);
  transition: opacity 1.7s, transform 0.8s;
}

.two {
  opacity: 0;
  transform: translateX(600%);
  transition: opacity 2.3s, transform 1.2s;
}

.three {
  opacity: 0;
  transform: translateX(-600%);
  transition: opacity 2.8s, transform 1.6s;
}

.four {
  opacity: 0;
  transform: translateX(600%);
  transition: opacity 3.2s, transform 2s;
}

.move {
  opacity: 1;
  transform: translateX(0);
}

.certs-container li {
  margin-bottom: 15px;
}

.mr-head-certs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 38px;
}

.certs-container a {
  color: black;
  text-decoration: none;
}

.certs-container a:hover {
  text-decoration: underline;
  background-color: rgb(198, 198, 198);
  transform: scale(1.5);
}

.toggle {
  transform: translateX(0);
}

@media (max-width: 530px) {
  button {
    visibility: hidden;
  }
}
