.certs-heading {
  font-size: 36px;
  margin-top: 40px;
  text-align: center;
  text-decoration: underline;
}

.certs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 28px;
  margin-left: 150px;
}

.certs-container li {
  margin-bottom: 15px;
}

.mr-head-certs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 38px;
}

.certs-container a {
  color: black;
  text-decoration: none;
}

.certs-container a:hover {
  text-decoration: underline;
  background-color: rgb(255, 253, 230);
}
