@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --modal-duration: 1s;
  --primary-color: #24253a;
  --primary-color1: #555774;
  --secondary-color: #6c6e5d;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Arial';
  margin: 0;
  background: linear-gradient(
    90deg,
    rgb(184, 184, 184),
    rgb(238, 238, 238),
    rgb(184, 184, 184)
  );
  transition: transform 0.6s ease;
  height: 100vh;
  overflow: hidden;
}

header {
  background: linear-gradient(
    to bottom right,
    var(--primary-color),
    var(--primary-color1)
  );
  color: #fff;
  padding: 10px 0;
  text-align: center;
  box-shadow: 2px 2px rgba(34, 34, 34, 0.2);
}

nav {
  background: linear-gradient(
    to bottom right,
    var(--primary-color),
    var(--primary-color1)
  );
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);
  box-shadow: 2px 2px rgba(34, 34, 34, 0.2);
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  padding: 20px;
}

nav ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.gitcat {
  position: relative;
  height: 30px;
  width: 30px;
  top: 25px;
  left: 40px;
  transition: transform 0.2s;
}

.gitcat:hover {
  transform: scale(0.95);
}

.linkedin {
  position: relative;
  height: 30px;
  width: 30px;
  top: 25px;
  left: 80px;
  transition: transform 0.2s;
}

.linkedin:hover {
  transform: scale(0.95);
}

.show-nav {
  transform: translateX(200px);
}

.toggle {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 31px;
  left: 20px;
  height: 45px;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.toggle:hover {
  background: black;
  cursor: pointer;
}

.movenav {
  transform: translate(0);
}

.profile-pic-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.profile-pic {
  height: 165px;
  width: 130px;
  border-radius: 50%;
}

.mr-icon {
  top: 35px;
  left: 25px;
  border-radius: 0 25px 0 25px;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  transform: translate(-100px, -100px);
  animation: rotateIcon 1s infinite alternate;
}

@keyframes rotateIcon {
  0% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

.mr-head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 38px;
}

.mrtitle {
  transform: translate(150px, -100px);
  opacity: 0;
  transition: transform 1s, opacity 1.5s;
}

.mr-icon {
  opacity: 0;
  transition: 2.5s;
}

.headmove {
  transform: translateY(0);
  opacity: 1;
}

.header-p {
  margin: 30px 0;
  font-size: 22px;
  transform: translateX(-100%);
  transition: 1s;
}

.moveheader {
  transform: translateX(0);
}

#message {
  margin-bottom: 9px;
}

button,
input[type='submit'] {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 20px 12px;
}

button:focus {
  outline: none;
}

.cta-btn-guest {
  position: absolute;
  top: 125px;
  right: 30px;
  padding: 8px 12px;
  font-size: 17px;
  margin-bottom: 20px;
  transition: transform 1s;
  transform: scale(0);
}

.containergrow {
  transform: scale(1);
}

.cta-btn-guest:hover {
  background-color: #5c5e50;
}

.toggle:hover {
  background-color: rgba(0, 0, 0, 1);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  margin: 0 auto;
  max-width: 65%;
}

h2 {
  text-align: center;
  margin: 15px;
}

p {
  text-align: center;
  margin: 3px;
  font-size: 21px;
  line-height: 1.3;
}

.forkify-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.speech-container {
  display: flex;
  flex-direction: column;
  margin: 0 80px;
}

.relaxer-container {
  display: flex;
  flex-direction: column;
}

.project-img {
  border: 0;
  width: 720px;
  display: flex;
  flex-direction: row;
  margin: 15px;
  padding: 15px;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transform: translatex(200%);
  transition: opacity 2.5s, transform 1.3s;
}

.project-img img:hover {
  cursor: pointer;
  transform: translateY(-5px);
  text-decoration: underline;
  border: 1px solid;
  border-color: lightgray;
  color: #a91010;
}

.project-img img {
  transition: transform 0.3s ease;
  height: 150px;
  width: 150px;
  border: 1px solid;
  border-color: lightgray;
  margin: 3px;
}

.project-img a {
  color: #000000;
  text-decoration: none;
  font-size: 21px;
}

.project-img a:hover {
  text-decoration: underline;
}

.professional {
  opacity: 0;
  transform: translateY(600%);
  transition: opacity 1s, transform 1s;
}

.journey {
  opacity: 0;
  transform: translateY(600%);
  transition: opacity 1.5s, transform 1.3s;
}

.favorite {
  opacity: 0;
  transform: translateY(600%);
  transition: opacity 1.7s, transform 1.3s;
}

.move {
  opacity: 1;
  transform: translateY(0);
}

#toggle {
  transition: transform 1s;
  transform: translate(-100px, -100px);
}

#toggle.togglemove {
  transform: translate(0);
}

@media (max-width: 920px) {
  .cta-btn-guest {
    visibility: hidden;
  }
  .speech-container {
    display: none;
  }
  .forkify-container a {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  .relaxer-container a {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .favorite {
    display: none;
  }
}

@media (max-width: 635px) {
  .forkify-container {
    display: none;
  }
  .relaxer-container {
    display: none;
  }
}

@media (max-width: 550px) {
  .toggle {
    visibility: hidden;
  }
}
@media (max-width: 470px) {
  .speech-container {
    display: none;
  }
}
