.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

.skills-ctn {
  position: relative;
  justify-content: center;
  font-size: 22px;
}

.certs-ctn {
  font-size: 24px;
}

.submit-btn:hover {
  background-color: #5c5e50;
}

.container .project-container {
  display: grid;
  align-items: center;
  grid-template-columns: 200px 200px;
  width: 1000px;
  justify-content: left;
  opacity: 1;
  z-index: 1;
}

p {
  text-align: center;
}

.project-img {
  border: 0;
  width: 800px;
  display: flex;
  flex-direction: row;
  margin: 15px;
  padding: 15px;
  justify-content: space-between;
  text-align: center;
}

.forkify-container {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

.speech-container {
  display: flex;
  flex-direction: column;
}

.relaxer-container {
  margin-right: 90px;
  display: flex;
  flex-direction: column;
}

.project-img1 {
  border: 0;
  width: 600px;
  display: grid;
  grid-template-columns: 300px 300px;
  flex-direction: row;
  margin: 50px;
  margin-right: 20px;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.project-img img:hover {
  cursor: pointer;
}

.project-img1 img:hover {
  cursor: pointer;
}

.project-img img {
  height: 200px;
  width: 200px;
}

.project-img1 img {
  height: 250px;
  width: 250px;
}

h3 {
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
