h1 {
  position: absolute;
  top: 0px;
  left: 10px;
  color: rgb(97, 6, 6);
  text-shadow: 1px 1px 1px rgb(255, 116, 116);
  margin-top: 5px;
  font-size: 26px;
}

h2.city-state {
  font-size: 14px;
  color: black;
}

.app-move {
  filter: blur(100px);
  transition: filter 1.3s ease;
  position: absolute;
  top: 13px;
  right: 15px;
}

.move-weather {
  transition: 0.6s ease;
  top: 13px;
  right: 15px; /* initial state */
}

.move-weather.move {
  transition: 0.6s ease;
  right: 215px; /* toggled state */
}

.blur-remove {
  filter: blur(0px);
}

.app {
  background-color: rgb(218, 246, 255);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid rgb(0, 50, 126);
  width: 185px;
  height: 60px;
  border-radius: 14px;
  box-shadow: 1px 1px 3px rgb(120, 120, 255);
  animation: changeBackground 2s linear forwards infinite alternate;
}

@keyframes changeBackground {
  from {
    background-color: rgb(181, 237, 255);
  }
  to {
    background-color: rgb(226, 249, 255);
  }
}

.city-zipcode {
  position: absolute;
  color: rgb(27, 27, 27);
  text-align: center;
  left: 11px;
  top: 41px;
}

.city-field {
  text-align: center;
  padding: 4px 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid;
  border-color: rgb(85, 85, 85);
  width: 120px;
}

.submit-btn {
  margin-left: -8px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 4px 10px;
  border: 2px solid;
  border-color: rgb(85, 85, 85);
  transition: transform 0.3s;
  transform: scale(1);
}

.clicked {
  transform: scale(0.92);
}

.submit-btn:hover {
  cursor: pointer;
}

img {
  height: 60px;
  width: 60px;
}

.description-icon {
  margin: 0;
  padding: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 175px;
  height: 90px;
  left: 10px;
  top: -100px;
}

.description {
  position: absolute;
  display: flex;
  text-align: left;
  flex-direction: column;
  font-family: sans-serif;
  color: black;
}

.description p {
  margin: 2px;
  font-size: 13px;
}

.icon {
  position: absolute;
  top: 10px;
  right: 15px;
}

.fa-solid.fa-x {
  position: absolute;
  bottom: 13px;
  right: 11px;
  color: black;
}

.fa-solid.fa-x:hover {
  cursor: pointer;
}

.display-weather {
  position: absolute;
  text-align: center;
  top: 195px;
  flex-direction: column;
}

.city-state {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: -8px;
}
